<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <activity
            android:name="io.onboardkit.ui.splash.LateConsentSplashDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ob_Theme_OnboardKit" />
        <!-- ERain.init also initializes Facebook. Match the sample placeholders without
             enabling unrelated automatic Facebook initialization/events in this test APK. -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb123456789" />
        <meta-data android:name="com.facebook.sdk.AutoInitEnabled" android:value="false" />
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="false" />
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled" android:value="false" />
        <activity
            android:name="io.onboardkit.ads.InterstitialRealGmaDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ob_Theme_OnboardKit" />
        <activity
            android:name="io.onboardkit.ads.AppOpenResumeDeviceActivity"
            android:exported="false"
            android:theme="@style/ob_Theme_OnboardKit" />
    </application>
</manifest>
